body {
    border: 0px;
    padding: 0px;
  }
  .error {
    color: red;
  }
  .green {
    color: green;
  }
  .login-bg {
    border: 0px;
    padding: 0px;
    background-image: linear-gradient(
      to right,
      rgb(177, 154, 204),
      rgb(63, 137, 180)
    );
    font-family: "Open Sans", sans-serif;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login-form {
  background-image: linear-gradient(pink,orange);
    width: 50%;
    text-align: center;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.22) 0px -12px 30px, rgba(0, 0, 0, 0.22) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.19) 0px -3px 5px;
  }
  .user_name {
    width: 70%;
    padding: 1em 2em 1em 3em;
    color: #9199aa;
    font-size: 18px;
    outline: none;
    background: url(images/adm.png) no-repeat 10px 15px;
    border: none;
    font-weight: 100;
    border-bottom: 1px solid#484856;
    margin-top: 2em;
  }
  .passeord_css {
    width: 70%;
    padding: 1em 2em 1em 3em;
    color: #dd3e3e;
    font-size: 18px;
    outline: none;
    background: url(images/key.png) no-repeat 10px 23px;
    border: none;
    font-weight: 100;
    border-bottom: 1px solid#484856;
    margin-bottom: 3em;
  }
  .key {
    background: url(images/pass.png) no-repeat 447px 17px;
  }
  input[type="submit"] {
    font-size: 20px;
    color: #fff;
    outline: none;
    border: none;
    background: #3ea751;
     width: 50%;
    padding: 18px 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background: #14c1ce;
  }
  