


.nav-item{
    font-weight: bold;
    font-size: 16px;
    
    font-style: italic;
}
.col{
color: darkred;
font-weight: bold;
font-family: cursive;
font-size: 28px;
}

.carousel-head{
   font-style: italic;
    color: orangered;
    font-weight: bold;
    font-size: 40px;
}
.carousel-para{
   
    color: darkkhaki;
    font-size: 20px;
 }
 .carousel-head1{
    font-style: italic;
     color: orangered;
     font-weight: bold;
     font-size: 40px;
 }
 .carousel-para1{
    
      color: darkkhaki;
    font-size: 20px;
  }
  .carousel-indicators{
      display: none;
  }
  .pop-head{
      color:darkolivegreen;
      font-weight: bold;
      font-size: 32px;
  }
  .pop-head:hover{
      color:greenyellow;
      font-size: 40px;
  }
  .bg-col{
      background-image: linear-gradient(gray,orange);
  }
  .up-head{
      color:darkslateblue;
      padding:15px;

  }
  .up-head1{
    color:floralwhite;
    padding:15px;
}
.up-para{
    color:linen;
    font-style: italic;
   }
   .fea-head{
       font-weight: bold;
       color:crimson;
       padding-bottom: 8px;
   }
   .images1:hover{
       height:200px
   }
button:hover{
    height:50px;
    width: 180px;
}
.best-head{
    color: mediumvioletred;
    font-weight: bold;
}
.best-h{
    color: orangered;
    font-weight: bold;
  
}
.images1{
    height:150px;
    width: 200px;
}
.images{
    height:200px;
    width: 300px;
}

.slider{
    height: 80vh;
}
.brand{
    height:150px;
    width:200px
}
.col-img{
    width:100%;
}
.card-ht{
    min-height:400px
}
.inventor-img{
    width:50%
}

.carousel-cap{
  position: absolute;
  top: 30%;
  transform: translateX(-30%);

}
.carousel-cap1{
    position: absolute;
    top: 30%;
    transform: translateY(-30%);
  
  }
ul a li{
    color: lightsteelblue;
    padding-top:8px;
    text-decoration: none;
   
}
.footer-para{
    color: lightsteelblue;
    padding-top:8px;
}
.footer-head{
    color:blueviolet;
    font-weight: 500;
    text-decoration: none;

}
.para-copy{
color: lightgray;
}
.img-map{
    width:220px;
    padding-top: 8px;
}
.left-bar{
    width:30%
}
.content-bar{
    width: 60%;
}

.heigh{
    min-height:40px;
}






 .heading{
     font-style: italic;
     color: darkorange;
     font-weight: bold;
 }


.images2{
    min-height:250px;
    min-width:250px;
    padding-right: 10px;
    
}
.images3{
    min-height:250px;
    min-width:200px;
    padding-right: 10px;
    
}
